{% extends "base.html" %}
{% include 'web/includes/messager.html' %}
{% load static %}


{% block content %}
    <div style="display:block ;background-color:aliceblue;height:1000px ;">
        <img style="height:300px ;width:300px" src="{% static 'polls/aboutus.jpg' %}" alt="">
        <p><strong style="font-size:50px">Company's Introduction:</strong></p>
        <p style="font-size:30px ;">Alex supermarket is a company organized by Alex in 2009.Until now, there
            are 30 stores in Hong Kong,the supermarket diversly spread around Hong Kong.
            The success of Alex supermarket is attributed by the high quality products,wide 
            range of product choice and smooth online shopping platform. 
        </p>
        <br><p style="font-size:30px ;" ><strong>Branch address:</strong></p>
        <br><p style="font-size:30px ;" >Yuen long Branch(filty estate G/f,ktn road, Yuen Long)</strong></p>
        <br><p style="font-size:30px ;" >Kwun Tong Branch(sdf estate ,lksjdf road,Kwun Tong)</strong></p>
        <br><p style="font-size:30px ;" >Causeway Bay Branch( gfhf estate,dfkgjld road , Causeway Bay )</strong></p>
        <br><p style="font-size:30px ;" ><strong>Contact:</strong></p>
        
        <br><p style="font-size:30px ;">instagram:asdf_df</p>
        <br><p style="font-size:30px ;">email:sdffg@gmail.com</p>
        <br><p style="font-size:30px ;">hotline:+852 87979879</p>
        
       
        
       
    </div>
    
 <link rel="stylesheet" href="{% static 'polls/reg.css' %}">
{% endblock %}
